Acel_Sensores_Celular.json
[{"id":"d031e607.76548","type":"tab","label":"Acel_Sensores_Celular","disabled":false,"info":""},{"id":"55bcdb53.fc0dc4","type":"mqtt in","z":"d031e607.76548","name":"","topic":"acel/y","qos":"2","datatype":"auto","broker":"23860f2f.47c9","x":170,"y":180,"wires":[["ff3c503c.d15b68","409fec3c.62738c","e9cb4a6.6ff4ab8"]]},{"id":"ff3c503c.d15b68","type":"change","z":"d031e607.76548","name":"global yAcel","rules":[{"t":"move","p":"payload","pt":"msg","to":"yAcel","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":260,"wires":[[]]},{"id":"fe36b4a3.75c1a","type":"mqtt in","z":"d031e607.76548","name":"","topic":"acel/x","qos":"2","datatype":"auto","broker":"23860f2f.47c9","x":170,"y":120,"wires":[["de1d7434.943f58","3802f4a2.dd8adc","1b907316.72ba05"]]},{"id":"de1d7434.943f58","type":"change","z":"d031e607.76548","name":"global xAcel","rules":[{"t":"move","p":"payload","pt":"msg","to":"xAcel","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":120,"wires":[[]]},{"id":"8fa0fdf0.248e7","type":"mqtt in","z":"d031e607.76548","name":"","topic":"acel/z","qos":"2","datatype":"auto","broker":"23860f2f.47c9","x":170,"y":240,"wires":[["d9ba221d.80f748","57bd5859.035178","3bf778f9.d00b"]]},{"id":"d9ba221d.80f748","type":"change","z":"d031e607.76548","name":"global zAcel","rules":[{"t":"move","p":"payload","pt":"msg","to":"zAcel","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":400,"wires":[[]]},{"id":"409fec3c.62738c","type":"ui_text","z":"d031e607.76548","group":"50ddc716.340af8","order":3,"width":3,"height":4,"name":"","label":"yAcel","format":"{{msg.payload}}","layout":"col-center","x":390,"y":180,"wires":[]},{"id":"57bd5859.035178","type":"ui_text","z":"d031e607.76548","group":"50ddc716.340af8","order":5,"width":3,"height":4,"name":"","label":"zAcel","format":"{{msg.payload}}","layout":"col-center","x":390,"y":320,"wires":[]},{"id":"3802f4a2.dd8adc","type":"ui_text","z":"d031e607.76548","group":"50ddc716.340af8","order":1,"width":3,"height":4,"name":"","label":"xAcel","format":"{{msg.payload}}","layout":"col-center","x":390,"y":40,"wires":[]},{"id":"1b907316.72ba05","type":"ui_chart","z":"d031e607.76548","name":"","group":"50ddc716.340af8","order":2,"width":5,"height":4,"label":"Grafica xAcel","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#322ecb","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":410,"y":80,"wires":[[]]},{"id":"e9cb4a6.6ff4ab8","type":"ui_chart","z":"d031e607.76548","name":"","group":"50ddc716.340af8","order":4,"width":5,"height":4,"label":"Grafica yAcel","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#f86917","#2c9e2c","#98df8a","#e62b18","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":410,"y":220,"wires":[[]]},{"id":"3bf778f9.d00b","type":"ui_chart","z":"d031e607.76548","name":"","group":"50ddc716.340af8","order":6,"width":5,"height":4,"label":"Grafica zAcel","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#1fe51f","#98df8a","#dd2526","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":410,"y":360,"wires":[[]]},{"id":"23860f2f.47c9","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.23","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"50ddc716.340af8","type":"ui_group","z":"","name":"Acelerometro","tab":"7a35afa6.f6017","order":2,"disp":true,"width":"8","collapse":true},{"id":"7a35afa6.f6017","type":"ui_tab","z":"","name":"Sensores_Celulares","icon":"dashboard","order":6,"disabled":false,"hidden":false}]