GPS_Sensores_Celular.json
[{"id":"a649de4f.4c022","type":"tab","label":"GPS_Sensores_Celular","disabled":false,"info":""},{"id":"591293c4.87d024","type":"mqtt in","z":"a649de4f.4c022","name":"","topic":"gps/lat","qos":"2","datatype":"auto","broker":"23860f2f.47c9","x":130,"y":140,"wires":[["dfbef8ff.e2fc1","2dfb3946.2e0976"]]},{"id":"dfbef8ff.e2fc1","type":"change","z":"a649de4f.4c022","name":"global lat","rules":[{"t":"move","p":"payload","pt":"msg","to":"lat","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":160,"wires":[[]]},{"id":"5faf624f.a71adc","type":"mqtt in","z":"a649de4f.4c022","name":"","topic":"gps/lon","qos":"2","datatype":"auto","broker":"23860f2f.47c9","x":130,"y":80,"wires":[["ff016b22.a1b008","8b2d8645.b262a"]]},{"id":"ff016b22.a1b008","type":"change","z":"a649de4f.4c022","name":"global lon","rules":[{"t":"move","p":"payload","pt":"msg","to":"lon","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":60,"wires":[[]]},{"id":"23b7808c.2f007","type":"mqtt in","z":"a649de4f.4c022","name":"","topic":"gps/vel","qos":"2","datatype":"auto","broker":"23860f2f.47c9","x":110,"y":300,"wires":[["adb59ec7.f4d5b","3505b8bd.f6d6c"]]},{"id":"adb59ec7.f4d5b","type":"change","z":"a649de4f.4c022","name":"global vel","rules":[{"t":"move","p":"payload","pt":"msg","to":"vel","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":300,"wires":[["fc32a184.9bb12"]]},{"id":"ce46df72.c5f598","type":"mqtt in","z":"a649de4f.4c022","name":"","topic":"gps/alt","qos":"2","datatype":"auto","broker":"23860f2f.47c9","x":130,"y":200,"wires":[["fed9d6fa.4ef53","41e869c.1873d98"]]},{"id":"fed9d6fa.4ef53","type":"change","z":"a649de4f.4c022","name":"global alt","rules":[{"t":"move","p":"payload","pt":"msg","to":"alt","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":220,"wires":[[]]},{"id":"fc32a184.9bb12","type":"function","z":"a649de4f.4c022","name":"","func":"// create random position\n//var lat1 = 22.41486 + Math.random() * 0.001;\nvar lat1=Number(global.get(\"lat\"));\nvar lon1 = Number(global.get(\"lon\")) ;\nmsg.payload={\n    lat:lat1, \n    lon:lon1, \n    name:\"Mike\", \n    icon:\"male\", \n    color:\"#000\"};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["f9629320.2e35f","35286c5c.3cb664","7cab7297.4e7764"]]},{"id":"35286c5c.3cb664","type":"worldmap-tracks","z":"a649de4f.4c022","name":"","depth":"500","layer":"separate","smooth":false,"x":590,"y":320,"wires":[["7cab7297.4e7764"]]},{"id":"2dfb3946.2e0976","type":"ui_text","z":"a649de4f.4c022","group":"4d46a500.117f9c","order":1,"width":6,"height":2,"name":"","label":"Latitud","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":120,"wires":[]},{"id":"41e869c.1873d98","type":"ui_text","z":"a649de4f.4c022","group":"4d46a500.117f9c","order":3,"width":6,"height":2,"name":"","label":"Altitud","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":180,"wires":[]},{"id":"3505b8bd.f6d6c","type":"ui_text","z":"a649de4f.4c022","group":"4d46a500.117f9c","order":4,"width":6,"height":2,"name":"","label":"Velocidad","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":380,"wires":[]},{"id":"7cab7297.4e7764","type":"ui_worldmap","z":"a649de4f.4c022","group":"4d46a500.117f9c","order":5,"width":12,"height":"8","name":"","lat":"","lon":"","zoom":"18","layer":"","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"true","allowFileDrop":"false","path":"/worldmap","x":710,"y":360,"wires":[]},{"id":"f9629320.2e35f","type":"debug","z":"a649de4f.4c022","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":100,"wires":[]},{"id":"8b2d8645.b262a","type":"ui_text","z":"a649de4f.4c022","group":"4d46a500.117f9c","order":2,"width":6,"height":2,"name":"","label":"Longitud","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":20,"wires":[]},{"id":"23860f2f.47c9","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.23","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4d46a500.117f9c","type":"ui_group","z":"","name":"GPS","tab":"7a35afa6.f6017","order":1,"disp":true,"width":"12","collapse":false},{"id":"7a35afa6.f6017","type":"ui_tab","z":"","name":"Sensores_Celulares","icon":"dashboard","order":6,"disabled":false,"hidden":false}]