Orient_Sensores_Celular.json
[{"id":"be14d55e.501eb8","type":"tab","label":"Orien_Sensores_Celular","disabled":false,"info":""},{"id":"ecff7387.e4d1d8","type":"mqtt in","z":"be14d55e.501eb8","name":"","topic":"orient/tono","qos":"2","datatype":"auto","broker":"23860f2f.47c9","x":140,"y":180,"wires":[["ea378fa3.3eee2","c345cdd9.9cbe78"]]},{"id":"ea378fa3.3eee2","type":"change","z":"be14d55e.501eb8","name":"global Tono","rules":[{"t":"move","p":"payload","pt":"msg","to":"Tono","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":200,"wires":[[]]},{"id":"b1560c46.f53198","type":"mqtt in","z":"be14d55e.501eb8","name":"","topic":"orient/acimut","qos":"2","datatype":"auto","broker":"23860f2f.47c9","x":130,"y":120,"wires":[["f6f2c843.6b50c8","cbb22dca.8eb678"]]},{"id":"f6f2c843.6b50c8","type":"change","z":"be14d55e.501eb8","name":"global Acimut","rules":[{"t":"move","p":"payload","pt":"msg","to":"Acimut","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":40,"wires":[[]]},{"id":"1ff21800.a04828","type":"mqtt in","z":"be14d55e.501eb8","name":"","topic":"orient/lanzar","qos":"2","datatype":"auto","broker":"23860f2f.47c9","x":150,"y":240,"wires":[["c3e4de9a.59e2c","2fe5629.1b46f1e"]]},{"id":"c3e4de9a.59e2c","type":"change","z":"be14d55e.501eb8","name":"global Lanzar","rules":[{"t":"move","p":"payload","pt":"msg","to":"Lanzar","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":340,"wires":[[]]},{"id":"cbb22dca.8eb678","type":"ui_gauge","z":"be14d55e.501eb8","name":"","group":"5d2037f9.6bb2e","order":1,"width":4,"height":4,"gtype":"compass","title":"Azimuth","label":"units","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":80,"wires":[]},{"id":"c345cdd9.9cbe78","type":"ui_gauge","z":"be14d55e.501eb8","name":"","group":"5d2037f9.6bb2e","order":2,"width":4,"height":4,"gtype":"compass","title":"Roll","label":"units","format":"{{value}}","min":"-90","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":160,"wires":[]},{"id":"2fe5629.1b46f1e","type":"ui_gauge","z":"be14d55e.501eb8","name":"","group":"5d2037f9.6bb2e","order":3,"width":4,"height":4,"gtype":"compass","title":"Pitch","label":"units","format":"{{value}}","min":"-90","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":280,"wires":[]},{"id":"23860f2f.47c9","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.23","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5d2037f9.6bb2e","type":"ui_group","z":"","name":"Orientacion","tab":"7a35afa6.f6017","order":3,"disp":true,"width":"16","collapse":true},{"id":"7a35afa6.f6017","type":"ui_tab","z":"","name":"Sensores_Celulares","icon":"dashboard","order":6,"disabled":false,"hidden":false}]