Prox_Sensores_Celular.json
[{"id":"5787fc73.ad8e74","type":"tab","label":"Prox_Sensores_Celular","disabled":false,"info":""},{"id":"f05c804.a5ede","type":"mqtt in","z":"5787fc73.ad8e74","name":"","topic":"prox/dist","qos":"2","datatype":"auto","broker":"23860f2f.47c9","x":240,"y":120,"wires":[["de4ad232.18fb88","3b6eee11.9a6caa"]]},{"id":"de4ad232.18fb88","type":"change","z":"5787fc73.ad8e74","name":"global Dist","rules":[{"t":"move","p":"payload","pt":"msg","to":"Dist","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":60,"wires":[[]]},{"id":"58e8f675.2e60f","type":"ui_led","z":"5787fc73.ad8e74","order":1,"group":"fef09aaf.7359d","width":5,"height":4,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0bff00","value":"true","valueType":"bool"},{"color":"#f90f09","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":590,"y":180,"wires":[]},{"id":"3b6eee11.9a6caa","type":"change","z":"5787fc73.ad8e74","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"5","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[["58e8f675.2e60f"]]},{"id":"23860f2f.47c9","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.23","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fef09aaf.7359d","type":"ui_group","z":"","name":"Proximidad","tab":"7a35afa6.f6017","order":4,"disp":true,"width":7,"collapse":true},{"id":"7a35afa6.f6017","type":"ui_tab","z":"","name":"Sensores_Celulares","icon":"dashboard","order":6,"disabled":false,"hidden":false}]